body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #233a7b;
  color: #ffffff;
  padding: 40px;
  text-align: middle;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #f0f0f0;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

.tagline {
  font-style: italic;
}

.hero {
  background-image: url("images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: rgb(35, 26, 26);
  text-align: center;
  padding: 100px 20px;
}

/* HERO */
.hero {
  background: #f4f6fb;
  text-align: center;
  padding: 50px 20px;
}

/* SECTIONS */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #233a7b;
}

/* IMAGE */
.image-section img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* SOCIAL LINKS */
.social-links a {
  margin-right: 15px;
  color: #233a7b;
  font-weight: bold;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #854747;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 9999;
  text-decoration: none;
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
}
